/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: Roboto;
    margin: 0;
    background:  #e6e5d4;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    height: 100px;
}

.Rectangle1 {
    position: relative;
    z-index: 19;
    width: 350px;
    height: 150px;
    background: -webkit-gradient(linear, left top, right top, from(#77b4ce), to(#06587e));
    -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.12), 0px 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.12), 0px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    margin: 0 auto;
}

.sign-up {
    padding-top: 32px;
    width: 325px;
    height: 24px;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 0 auto;
}

.information-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

h2 {
    text-align: center;
    padding-top: 32px;
    width: 250px;
    height: 24px;
    font-size: 20px;
    line-height: 23px;
    margin: 0 auto;
}

.text2{
padding-top: 15px;
padding-left: 20px;
}

/*-------------------------------------Rectangle2--------------------------------------*/

.Rectangle2 {
    position: relative;
    z-index: 9;
    width: 380px;
    height: 500px;
    background: #FFFFFF;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: -25px;
    padding: 5px;
}

.rectangle3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 15px;
    padding: 10px;
}




.obc {
    padding-top: 142px;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
}

.input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 30px;
}

.input1{
    padding-left: 20px;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #D2D2D2;
}

input[type='text'],
input[type='e-mail'],
input[type='password'] {
    width: 270px;
    padding-top: 45px;
    font-size: 14px;
    color: #999999;
    margin: 0 auto;
    text-align: center;
}

textarea{
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
    text-align: justify;
}

.down-block1{
height: 250px;
width: 350px;
margin-right: 5%;
background-color: #fff;
}

.down-block2{
    height: 250px;
    width: 350px;
    margin-left: 5%;
    background-color: #fff;
    }

.button {
    border-style: none;
    width: 120px;
    height: 80px;
    font-size: 14px;
    line-height: 16px;
    margin-left: 80px;
    color: #157e9e;
    background-color: #fff;
}